<%- include('partials/header'); -%>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <img src="/logo_small.png" alt="logo" class="img-fluid" />
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-8 text-center">
      <h2>Book your favourite events here</h2>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-4 text-center">
      <a href="/home" class="btn btn-primary">View Events</a>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
