<%- include('partials/header'); -%>

<form method="POST" enctype="multipart/form-data" id="reg_form">
    <h2 style="text-align: center;">Sign up</h2>
    <div class="divider">
        <hr>
    </div>

    <div class="row">
        <div>
          <div class="circle">
            <img class="profile-pic" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
          </div>
          <div class="p-image">
             <input class="file-upload" type="file" accept="image/*"/>
          </div>
       </div>
     </div>

    <label for="name">Name*</label>
    <input type="text" placeholder="Enter a name" name="name" id="name" />
    <div class="name error"></div>

    <label for="surname">Surname*</label>
    <input type="text" placeholder="Enter a surname" id="surname" />
    <div class="surname error"></div>

    <label for="phone">Phone</label>
    <div class="select-box">
        <div class="selected-option">
            <div>
                <span class="iconify" data-icon="flag:it-4x3"></span>
                <strong>+39</strong>
            </div>
            <input type="tel" name="phone_number" id="phone_number" placeholder="Phone Number" value="+39">
        </div>
        <div class="options">
            <input type="text" class="search-box" placeholder="Search Country Name">
            <ol>
            </ol>
        </div>
    </div>
    <div class="phone error"></div>

    <label for="email">Email*</label>
    <input type="email" placeholder="example@example.com" name="email" id="email" />
    <div class="email error"></div>

    <label for="Date of birth">Date of Birth</label>
    <input type="date" name="date_of_birth" id="date_of_birth" />
    <div class="date error"></div>
    
    <label for="password">Password*</label>
    <div class="input-box">
        <input type="password" placeholder="Enter a password" id="password" />
        <i class="far fa-eye" id="togglePassword"></i>
    </div>

    <input type="password" id="confirm-password" placeholder="Confirm password" />

    <div class="password error">
        <p id="length" class="invalid">Minimum 8 characters </p>
        <p id="letter" class="invalid">A uppercase letter</p>
        <p id="number" class="invalid">A number</b></p>
        <p id="special" class="invalid">A special character</p>
        <p id="match" class="invalid">Passwords don't match</p>
    </div>

    <button type="submit" class="btn" id="signup_button">Sign up</button>
</form>


<script src="/countries.js"></script>
<script>

var readURL = function(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.profile-pic').attr('src', e.target.result);
            }
    
            reader.readAsDataURL(input.files[0]);
        }
    }

    $('.circle').hover(function() {
        $(this).css('cursor', 'pointer');
    })

    $(".circle").on('click', function() {
       $(".file-upload").click();
    });
    

    $(".file-upload").on('change', function(){
        readURL(this);
    });
    
    $(".upload-button").on('click', function() {
       $(".file-upload").click();
    });

    $('#name').keyup(function(){
        $('.name.error').html('');
        $('#name').removeClass('error-input');
    });

    $('#surname').keyup(function(){
        $('.surname.error').html('');
        $('#surname').removeClass('error-input');
    });

    $('#email').keyup(function(){
        $('.email.error').html('');
        $('#email').removeClass('error-input');
    });

    $('#togglePassword').click(function(){
        $(this).toggleClass('fa-eye fa-eye-slash');
        var input = $('#password');
        if(input.attr('type') == 'password'){
            input.attr('type', 'text');
        } else {
            input.attr('type', 'password');
        }
    });

    $('#password').keyup(function(){

        if($('#password').val().length < 8){
            $('#length').removeClass('valid');
            $('#length').addClass('invalid');
        } else {
            $('#length').removeClass('invalid');
            $('#length').addClass('valid');
        }

        if($('#password').val().match(/[A-Z]/)){
            $('#letter').removeClass('invalid');
            $('#letter').addClass('valid');
        } else {
            $('#letter').removeClass('valid');
            $('#letter').addClass('invalid');
        }

        if($('#password').val().match(/[0-9]/)){
            $('#number').removeClass('invalid');
            $('#number').addClass('valid');
        } else {
            $('#number').removeClass('valid');
            $('#number').addClass('invalid');
        }

        if($('#password').val().match(/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/)){
            $('#special').removeClass('invalid');
            $('#special').addClass('valid');
        } else {
            $('#special').removeClass('valid');
            $('#special').addClass('invalid');
        }

        if($('#password').val() != '' && ($('#password').val() == $('#confirm-password').val())){
            $('#match').removeClass('invalid');
            $('#match').addClass('valid');
        } else {
            $('#match').removeClass('valid');
            $('#match').addClass('invalid');
        }

        //$('.password.error').html('');
        //$('#password').removeClass('error-input');
    });

    $('#confirm-password').keyup(function(){

        if($('#password').val() != '' && ($('#password').val() == $('#confirm-password').val())){
            $('#match').removeClass('invalid');
            $('#match').addClass('valid');
        } else {
            $('#match').removeClass('valid');
            $('#match').addClass('invalid');
        }
    });

    $('#date_of_birth').keyup(function(){
        $('.date.error').html('');
        $('#date_of_birth').removeClass('error-input');
    });


    $('#signup_button').click(function(e){
        e.preventDefault();

        name = $('#name').val();
        surname = $('#surname').val();
        email = $('#email').val();
        password = $('#password').val();
        phone_number = $('#phone_number').val();
        birth_date = $('#date_of_birth').val();
        
        $('.name.error').html('');
        $('.surname.error').html('');
        $('.email.error').html('');
        $('.password.error').html('');
        $('.phone.error').html('');
        $('.date.error').html('');

        $('#name').removeClass('error-input');
        $('#surname').removeClass('error-input');
        $('#email').removeClass('error-input');
        $('#password').removeClass('error-input');
        $('#phone').removeClass('error-input');
        $('#date_of_birth').removeClass('error-input');


        if(!($('#password').val().match(/^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{8,}$/)) || $('#password').val() != $('#confirm-password').val()){
            return;
        }

        var formData = new FormData();
        formData.append('name', name);
        formData.append('surname', surname);
        formData.append('email', email);
        formData.append('password', password);
        formData.append('phone_number', phone_number);
        formData.append('birth_date', birth_date);

        var file = $('.file-upload')[0].files[0];
        if(file){
            formData.append('profile_pic', file);
        }

        $.ajax({
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            url: '/signup',
            success: function(data) {
                window.location.href = '/home';
            },
            error: function(data) {
                const errString = JSON.stringify(data.responseJSON.errors);
                const err = JSON.parse(errString);
                if(err.name){
                    $('.name.error').html(err.name);
                    $('#name').addClass('error-input');
                }
                if(err.surname){
                    $('.surname.error').html(err.surname);
                    $('#surname').addClass('error-input');
                }
                if(err.email){
                    $('.email.error').html(err.email);
                    $('#email').addClass('error-input');
                }
                if(err.password){
                    $('.password.error').html(err.password);
                    $('#password').addClass('error-input');
                }

                if(err.phone_number) {
                    $('.phone.error').html(err.phone_number);
                    $('#phone').addClass('error-input');
                }
            }
        });
    });
</script>
<%- include('partials/footer'); -%>